{% extends 'master.html' %}
{% load poll_extras %}
{% block title %}
    搜索结果
    {% endblock %}
{% block content %}
<div class="banner1">
		<div class="container">
			<div class="span_1_of_1">
			    <h2>  <br>&nbsp;</h2>

			</div>
		</div>
	</div>
		<div class="container"> 
{% for film in films %}
    <div class="col-xs-12">
     <div class="col-xs-3 col-md-3">
    <a href="/movie/{{ film.id }}" target="_blank" class="thumbnail">
      <img src="{{ film.cover_img_link }}" alt="{{ film.film_name }}">
    </a>

                </div>
    <div class="col-xs-9 col-md-9">
        <h3>
            <a href="/movie/{{ film.id }} " target="_blank">{{ film.film_name }}</a>
        </h3>
        <h4 style="margin-top: 10px;">{{ film.film_pub_year }}</h4>
        {% if film.film_director %}
            <h4 style="margin-top: 10px;">导演：{{ film.film_director }}</h4>
        {% endif %}
        {% if film.film_actors %}
            <h4 style="margin-top: 10px;">演员：{{ film.film_actors }}</h4>
        {% endif %}
        <p style="margin-top: 10px;">{{ film.film_intro | Brflen:500 }}</p>

    </div>

    </div>
{% endfor %}
{% for tvseries in tvseriess %}
    <div class="col-xs-12">
     <div class="col-xs-3 col-md-3">
    <a href="/tv/{{ tvseries.id }}" target="_blank" class="thumbnail">
      <img src="{{ tvseries.cover_img_link }}" alt="{{ tvseries.tvseries_name }}">
    </a>

                </div>
    <div class="col-xs-9 col-md-9">
        <h3>
            <a href="/tv/{{ tvseries.id }}" target="_blank">{{ tvseries.tvseries_name }}</a>
        </h3>
        <h4 style="margin-top: 10px;">{{ tvseries.tvseries_pub_year }}</h4>
        {% if tvseries.tvseries_director %}
            <h4 style="margin-top: 10px;">导演：{{ tvseries.tvseries_director }}</h4>
        {% endif %}
        {% if tvseries.tvseries_actors %}
            <h4 style="margin-top: 10px;">演员：{{ tvseries.tvseries_actors }}</h4>
        {% endif %}
        <p style="margin-top: 10px;">{{ tvseries.tvseries_intro | Brflen:500 }}</p>

    </div>

    </div>
{% endfor %}
		</div>

{% endblock %}