{% extends 'master.html' %}

{% load poll_extras %}
{% load staticfiles %}

{% block title %}
    择天--手机游戏
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/luara.css"/>
    <link rel="stylesheet" href="/static/css/luara.left.css"/>
{#    <script src="/static/js/jquery-1.8.3.min.js"></script>#}
    <script src="/static/js/jquery.luara.0.0.1.min.js"></script>


{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function  () {
            $("#ios-a").click(function () {
                $("#ios").css("display", "none");
                $("#erweima2").css("display", "none");
                $("#android").css("display", "");
                $("#erweima1").css("display", "");
            });
            $("#android-a").click(function () {
                $("#ios").css("display", "");
                $("#erweima2").css("display", "");
                $("#android").css("display", "none");
                $("#erweima1").css("display", "none")
            });
        });
    </script>
    <div class="header04">
        <div class="sidebar">
            <div class="code w1">

                <div class="" style="float:left;" id="erweima1">
                    <img src="/static/img/erweima.png">
                </div>
                <div class=""  style="float:left;margin-left: 0px;" id="android">
                      <a href ="javascript:void(0);" id="android-a" >
                        <img src="/static/img/btn-ios.png">
                      </a>
                </div>

                <div class="" style="float:left;display:none;" id="erweima2">
                    <img src="/static/img/erweima.png">
                </div>
                <div class=""  style="float:left;margin-left: 0px;display:none;" id="ios">
                      <a href ="javascript:void(0);" id="ios-a">
                        <img src="/static/img/btn-android.png">
                      </a>
                </div>

            </div>
            <div class="side_left_add"><a target="itunes_store"
                                          href="#"
                                          title=""><img width="268" height="82"
                                                        src="/static/img/androiddownloads.png"></a>
            </div>
            <div class="side_left_add"><a
                    href="{{ apklink }}"
                    title=""><img width="268" height="82"
                                  src="/static/img/iosdownloads.png"></a></div>


        </div>
        <div class="content">
            <div class="focus">

                <div class="example" style="margin-top: -1px;margin-left: 3px;">
                    <ul>
                        <li><a href="#"><img src="/static/img/1.jpg" style="width: 704px;height:354px;" alt="1"/></a>
                        </li>
                        <li><a href="#"><img src="/static/img/2.jpg" style="width: 704px;height:354px;" alt="2"/></a>
                        </li>
                        <li><a href="#"><img src="/static/img/3.jpg" style="width: 704px;height:354px;" alt="3"/></a>
                        </li>
                        <li><a href="#"><img src="/static/img/4.jpg" style="width: 704px;height:354px;" alt="4"/></a>
                        </li>
                    </ul>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </div>
                <!--Luara图片切换骨架end-->
                <script>
                    $(function () {
                        <!--调用Luara示例-->
                        $(".example").luara({
                            width: "704",
                            height: "354",
                            interval: 3500,
                            selected: "seleted",
                            deriction: "left"
                        });

                    });
                </script>

            </div>
        </div>
    </div>

    <div class="header05">
        <div class="new_top">
            <div class="new_bot">
                <div class="sidebar">
                    <div class="offcial_wx">
                        <div class="sidebar_leftBg" style="margin-bottom: 11px;">
                            <div class="sidebar_leftTop">
                                <div class="sidebar_leftBot">
                                    <div class="sidebar_Title">
                                        <img width="103" height="20" style="margin-top: 7px;"
                                             src="/static/img/serverList.png">
                                    </div>
                                    <img src="/static/img/bar_side_top.png">
                                    <div class="sidebar_Box sidebar_BoxServer">
                                        <p>
                                            <span>2014-01-24</span>
                                            S38 忠肝义胆
                                        </p>
                                        <p>
                                            <span>2014-01-24</span>
                                            S38 忠肝义胆
                                        </p>
                                        <p>
                                            <span>2014-01-24</span>
                                            S38 忠肝义胆
                                        </p>
                                        <p>
                                            <span>2014-01-24</span>
                                            S38 忠肝义胆
                                        </p>
                                        <p>
                                            <span>2014-01-24</span>
                                            S38 忠肝义胆
                                        </p>
                                        <p>
                                            <span>2014-01-24</span>
                                            S38 忠肝义胆
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_leftBg" style="margin-bottom: 11px;">
                            <div class="sidebar_leftTop">
                                <div class="sidebar_leftBot">
                                    <div class="sidebar_Title">
                                        <img width="103" height="20" style="margin-top: 7px;"
                                             src="/static/img/hotline.png">

                                    </div>
                                    <img src="/static/img/bar_side_top.png">
                                    <div class="sidebar_Box sidebar_BoxInfo" style="color: #fcd6ff;font-size: 13px;line-height: 30px">
                                        <p>
                                            官方玩家Q群：438817071
                                            <br>
                                            客服邮箱：ztdlkf@9key.net
                                            <br>
                                            微信订阅号：（这个申请下来之后再添加上）
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="sidebar_leftBg" style="margin-bottom: 11px;">
                            <div class="sidebar_leftTop">
                                <div class="sidebar_leftBot">
                                    <div class="sidebar_Title">
                                        <img width="103" height="20" style="margin-top: 7px;"
                                             src="/static/img/cooperator.png">
                                    </div>
                                    <img src="/static/img/bar_side_top.png">
                                    <div class="sidebar_Box sidebar_BoxLinks">
                                        <ul>

                                        </ul>
                                        <br class="clear">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="news_more">
                        <a href="#">
                            <img width="83" height="31" src="/static/img/btn-more.png">
                        </a>
                    </div>
                    {% if news %}
                        {% for i in news %}
                    <div class="news_bg">
                        <div class="news_top">
                            <div class="news_bot">
                                <div class="news_img fltlft">
                                    <a style="" title="{{ i.newsTitle }}"
                                       href="news/{{ i.id }}.aspx">
                                        <img width="224" height="138" src="{{ i | imgurl }}">
                                    </a>
                                </div>
                                <div class="news_cont fltrt">
                                    <h1>
                                        <span>{{ new.dimDate }}</span>
                                        <a style="" title="{{ i.newsTitle }}"
                                           href="news/{{ i.id }}.aspx">{{ i.newsTitle }}</a>
                                    </h1>
                                    <p>
                                        <a href="news/{{ i.id }}.aspx" style="font-family: 微软雅黑;font-size: 12px; color: #fcd6ff;">{{ i.newsDetail | Brflen:100  }}</a>
                                    </p>
                                    <p class="more">
                                        <a title="更多" href="news/{{ i.id }}.aspx">
                                            <img width="43" height="14"
                                                 src="/static/img/btn-+more.png">
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
