{% extends 'master.html' %}

{% load poll_extras %}
{% load staticfiles %}

{% block title %}
    择天--手机游戏
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/luara.css"/>
    <link rel="stylesheet" href="/static/css/luara.left.css"/>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/jquery.luara.0.0.1.min.js"></script>
{% endblock %}
{% block content %}
    <div class="header04">
        <div class="sidebar">
            <div class="code w1">
                <div id="title01">
                    <div class="codeTitle">
                        <ul>
                            <li>IOS</li>
                            <li class="click_and" onclick="javascript:showTxt('title0','2','2');">ANDROID</li>
                        </ul>
                    </div>
                    <div class="codeCont"><img width="113" height="113"
                                               src="http://static.kunlun.com/web/xb/image/code_ios.jpg"></div>
                </div>
                <div style="display:none;" id="title02">
                    <div class="codeTitle">
                        <ul>
                            <li class="click_ios" onclick="javascript:showTxt('title0','1','2');">IOS</li>
                            <li>ANDROID</li>
                        </ul>
                    </div>
                    <div class="codeCont"><img width="113" height="113"
                                               src="http://static.kunlun.com/web/xb/image/code_and.jpg"></div>
                </div>

            </div>
            <div class="side_left_add"><a target="itunes_store"
                                          href="#"
                                          title=""><img width="268" height="82"
                                                        src="/static/img/androiddownloads.png"></a>
            </div>
            <div class="side_left_add"><a
                    href="http://static.kunlun.com/xb/code/4/125/6/res/xianbian_kunlun_4_125_6_b_131_webp.apk"
                    title=""><img width="268" height="82"
                                  src="/static/img/iosdownloads.png"></a></div>


        </div>
        <div class="content">
            <div class="focus">

                <div class="example" style=" ">
                    <ul>
                        <li><a href="#"><img src="/static/img/1.jpg" style ="width: 704px;height:354px;" alt="1"/></a></li>
                        <li><a href="#"><img src="/static/img/2.jpg" style ="width: 704px;height:354px;" alt="2"/></a></li>
                        <li><a href="#"><img src="/static/img/3.jpg" style ="width: 704px;height:354px;" alt="3"/></a></li>
                        <li><a href="#"><img src="/static/img/4.jpg" style ="width: 704px;height:354px;" alt="4"/></a></li>
                    </ul>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </div>
                <!--Luara图片切换骨架end-->
                <script>
                    $(function () {
                        <!--调用Luara示例-->
                        $(".example").luara({width: "704", height: "354", interval: 3500, selected: "seleted",deriction:"left"});

                    });
                </script>

            </div>
        </div>
    </div>

    <div class ="header05">
         <div class = "new_top">
             <div class="new_bot">
                 <div class="sidebar">
                     <div class="offcial_wx">
                         <div class="sidebar_leftBg">
                             <div class="sidebar_leftTop">
                                 <div class="sidebar_leftBot">
                                     <div class="sidebar_Title">
                                         <img width="101" height="30"
                                              src="http://static.kunlun.com/web/xb/image/t_server.jpg">
                                     </div>
                                     <div class="sidebar_Box sidebar_BoxServer">
                                         <p>
                                             <span>2014-01-24</span>
                                             S38 忠肝义胆
                                         </p>
                                         <p>
                                             <span>2014-01-24</span>
                                             S38 忠肝义胆
                                         </p>
                                         <p>
                                             <span>2014-01-24</span>
                                             S38 忠肝义胆
                                         </p>
                                         <p>
                                             <span>2014-01-24</span>
                                             S38 忠肝义胆
                                         </p>
                                         <p>
                                             <span>2014-01-24</span>
                                             S38 忠肝义胆
                                         </p>
                                         <p>
                                             <span>2014-01-24</span>
                                             S38 忠肝义胆
                                         </p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="sidebar_leftBg">
                             <div class="sidebar_leftTop">
                                 <div class="sidebar_leftBot">
                                     <div class="sidebar_Title"></div>
                                     <div class="sidebar_Box sidebar_BoxInfo">
                                         <p>
                                             官方玩家Q群:85152931
                                             <br>
                                             客服热线:010-85070333
                                             <br>
                                             投诉邮箱:tousu@kunlun.com
                                         </p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="clear"></div>
                         <div class="sidebar_leftBg">
                             <div class="sidebar_leftTop">
                                 <div class="sidebar_leftBot">
                                     <div class="sidebar_Title">
                                         <img width="94" height="29"
                                              src="http://static.kunlun.com/web/xb/image/t_links.jpg">
                                     </div>
                                     <div class="sidebar_Box sidebar_BoxLinks">
                                         <ul>

                                         </ul>
                                         <br class="clear">
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="content">
                     <div class = "news_more">
                         <a href="#">
                             <img width="83" height="31" src="http://static.kunlun.com/web/xb/image/more.jpg">
                         </a>
                     </div>
                     <div class = "news_bg">
                         <div class = "news_top">
                             <div class = "news_bot">
                                 <div class="news_img fltlft">
                                    <a style="" title="【仙变】红装系统全面展现" href="http://xb.kunlun.com/2014/newslist_0402/85.html">
                                        <img width="224" height="138" src="/static/img/header1.png">
                                    </a>
                                 </div>
                                 <div class="news_cont fltrt">
                                     <h1>
                                        <span>2014-04-02</span>
                                        <a style="" title="【仙变】红装系统全面展现" href="http://xb.kunlun.com/2014/newslist_0402/85.html">【仙变】红装系统全面展现</a>
                                     </h1>
                                     <p>
                                         <a href="http://xb.kunlun.com/2014/newslist_0402/85.html">当强力的紫装已经不能满足胃口的时候，你是否在寻找新的突破？！ 当千辛万苦终于开启了金身系统的时候，你是否为装备搭配而烦恼？！ 当穿着强十的紫装却依旧被人虐的时候，你是否迫</a>
                                     </p>
                                     <p class="more">
                                         <a title="更多" href="http://xb.kunlun.com/2014/newslist_0402/85.html">
                                            <img width="43" height="14" src="http://static.kunlun.com/web/xb/image/more1.jpg">
                                         </a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             </div>
         </div>
    </div>
{% endblock %}
