{% extends 'master.html' %}
{% block head %}
 <meta name="baidu-site-verification" content="SNZu0GacqF" />
    <meta property="wb:webmaster" content="42143a4a84219a4d" />
{% endblock %}
{% block content %}
    <div class="banner1">
        <div class="container">
            <div class="span_1_of_1">
                <h2>
                    <br>
                </h2>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tvlist').prop('class', 'active');

            {% if m_type == 'all' %}
                $('#type_all').prop('class', 'active');
            {% else %}
                $('#{{ m_type }}').prop('class', 'active');
            {% endif %}

            {% if country == 'all' %}
                $('#area_all').prop('class', 'active');
            {% elif country == 'else' %}
                $('#area_else').prop('class', 'active');
            {% else %}
                $('#{{ country }}').prop('class', 'active');
            {% endif %}

            {% if year == 'all' %}
                $('#all_year').prop('class', 'active');
            {% elif year == 'early' %}
                $('#early').prop('class', 'active');
            {% else %}
                $('#{{ year }}').prop('class', 'active');
            {% endif %}
        });

    </script>
    <div class="tags-movie">
        <div class="tags-panel container" style="margin:50px auto;">
            <ul class="tags-panel">
                <li class="tags-lines">
                    <div class="tags-title">类型：</div>
                    <ul class="tags">
                        <li  id="type_all">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=all&area={{ country }}&year={{ year }}">全部</a>
                        </li>
                        <li id="comic">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=comic&area={{ country }}&year={{ year }}">动漫</a>
                        </li>
                        <li id="variety">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=variety&area={{ country }}&year={{ year }}">综艺节目</a>
                        </li>
                        <li id="variety">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=tvs&area={{ country }}&year={{ year }}">电视剧</a>
                        </li>
                        <li id="city">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=city&area={{ country }}&year={{ year }}">都市</a>
                        </li>
                        <li id="family">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=family&area={{ country }}&year={{ year }}">家庭</a>
                        </li>
                        <li id="idol">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=idol&area={{ country }}&year={{ year }}">偶像</a>
                        </li>
                        <li id="comedy">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=comedy&area={{ country }}&year={{ year }}">喜剧</a>
                        </li>
                        <li id="period">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=period&area={{ country }}&year={{ year }}">古装</a>
                        </li>
                        <li id="crimal">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=crimal&area={{ country }}&year={{ year }}">刑侦</a>
                        </li>
                        <li id="myth">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=myth&area={{ country }}&year={{ year }}">神话</a>
                        </li>
                        <li id="love">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=love&area={{ country }}&year={{ year }}">爱情</a>
                        </li>
                        <li id="feature" >
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=feature&area={{ country }}&year={{ year }}">剧情</a>
                        </li>
                        <li id="campus">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=campus&area={{ country }}&year={{ year }}">校园</a>
                        </li>
                        <li id="cross">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=cross&area={{ country }}&year={{ year }}">穿越</a>
                        </li>
                        <li id="suspense">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=suspense&area={{ country }}&year={{ year }}">悬疑</a>
                        </li>
                        <li id="crime">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=crime&area={{ country }}&year={{ year }}">犯罪</a>
                        </li>
                        <li id="youth">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=youth&area={{ country }}&year={{ year }}">青春</a>
                        </li>
                        <li id="motivational">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type=motivational&area={{ country }}&year={{ year }}">励志</a>
                        </li>
                    </ul>
                </li>

                <li class="tags-lines tags-line-border">
                    <div class="tags-title">区域：</div>
                    <ul class="tags">
                        <li  id="area_all">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=all&year={{ year }}">全部</a>
                        </li>
                        <li id="cn">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=cn&year={{ year }}">大陆</a>
                        </li>
                        <li id="usa">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=usa&year={{ year }}">美国</a>
                        </li>
                        <li id ="france">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=france&year={{ year }}">法国</a>
                        </li>
                        <li id ="en">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=en&year={{ year }}">英国</a>
                        </li>
                        <li id="japan">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=japan&year={{ year }}">日本</a>
                        </li>
                        <li id="korea">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=korea&year={{ year }}">韩国</a>
                        </li>
                        <li id="india">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=india&year={{ year }}">印度</a>
                        </li>
                        <li id="thailand">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=thailand&year={{ year }}">泰国</a>
                        </li>
                        <li id="hk">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=hk&year={{ year }}">香港</a>
                        </li>
                        <li id="taiwan">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=taiwan&year={{ year }}">台湾</a>
                        </li>
                        <li id="germany">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=germany&year={{ year }}">德国</a>
                        </li>
                        <li id="area_else">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area=else&year={{ year }}">其他</a>
                        </li>
                    </ul>
                </li>
                <li class="tags-lines tags-line-border">
                    <div class="tags-title">年代：</div>
                    <ul class="tags">
                        <li  id="all_year">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=all">全部</a>
                        </li>
                        <li id="2016">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=2016">2016</a>
                        </li>
                        <li id="2015">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=2015">2015</a>
                        </li>
                        <li id="2014">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=2014">2014</a>
                        </li>
                        <li id="2013">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=2013">2013</a>
                        </li>
                        <li id="2012">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=2012">2012</a>
                        </li>
                        <li id="2011">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=2011">2011</a>
                        </li>
                        <li id="10">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=10">2000-2010</a>
                        </li>
                        <li id="90">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=90">90年代</a>
                        </li>
                        <li id="80">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=80">80年代</a>
                        </li>
                        <li id="70">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=70">70年代</a>
                        </li>
                        <li id="early">
                             <a href="/tvseries/?page={{ tvseriespaged.number }}&m_type={{ m_type }}&area={{ country }}&year=early">更早</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid_1" style="margin-top:10px;">
        <div class="container">
            {% for tvseries in tvseriespaged %}
                <div class="col-xs-3 col-md-3" style="height: 450px;">
                    <a href="/tv/{{ tvseries.id }}" class="thumbnail">
                        <img src="{{ tvseries.cover_img_link }}" alt="{{ tvseries.tvseries_name }}" style="width:100%;">
                    </a>
                    <div class="caption">
                        <p>[{{ tvseries.tags }}][{{ tvseries.tvseries_pub_year }}][<font style="color: #F1665E">{{ tvseries.tvseries_name }}</font>][迅雷下载][百度网盘][中 英 字幕]</p>
                    </div>
                </div>
            {% endfor %}
        </div>

{#<ul class="web-paging" style="bottom: 10px;position:absolute; left: 40%">#}
{##}
{#                    {% if tvseriespaged.has_previous %}#}
{#           <li><a href="?page={{ tvseriespaged.previous_page_number }}">上一页</a></li>#}
{#        {% endif %}#}
{##}
{#        <span class="thisclass">#}
{#            <li>第 {{ tvseriespaged.number }} 页, 共 {{ tvseriespaged.paginator.num_pages }} 页</li>#}
{#        </span>#}
{##}
{#        {% if tvseriespaged.has_next %}#}
{#           <li> <a href="?page={{ tvseriespaged.next_page_number }}">下一页</a></li>#}
{#        {% endif %}#}
{#			 </ul>#}

        <div class="clearfix"></div>
    </div>
<div class="movies-pager" style=" text-align: center;">


  <ul class="list-pager">



   {% if tvseriespaged.has_previous %}
      <li><a href="?page={{ tvseriespaged.previous_page_number }}">上一页</a></li>
        {% endif %}

{#      <li class="active">#}
{#    <a style="cursor: default" href="javascript:void(0);" class="page_1">{{ tvseriespaged.number }}</a>#}
{##}
{#</li>#}

<li>第 {{ tvseriespaged.number }} 页, 共 {{ tvseriespaged.paginator.num_pages }} 页</li>

{% if tvseriespaged.has_next %}
           <li> <a href="?page={{ tvseriespaged.next_page_number }}&m_type={{ m_type }}&area={{ country }}&year={{ year }}">下一页</a></li>
        {% endif %}
</ul>


    </div>
{% endblock %}