<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="择天,择天大陆,择天记,MMO手机游戏,MMORPG">
    <meta name="description" content="择天大陆-是手机网游中首款百变国战网游（MMORPG）巨制，画面精美，玩法多样，给妳最酣畅淋漓的降魔体验之旅；
    近百种变化的造型任您挑选；大型帮战系统，让妳手机上也能体验到PC端那种酣畅的战斗快感；全新国战系统，我们的城池，就要靠大家壹起团结才能攻下来。">
    <link type="text/css" href="/static/css/choosesky.css" rel="stylesheet">
    <link type="text/css" href="/static/css/footer.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="/static/js/choosemain.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.js"></script>
    {% block head %} {% endblock %}
</head>

<body>
<div id="main">
    <div class="header01">
        <ul>
            <li class="nav01"><a href="/" title="官网首页">Home</a></li>
            <li><a href="/news" title="新闻公告">News</a></li>
            <li class="logo"></li>
            <li class="nav02" title="精彩活动"><a href="/act" >Activities</a></li>
            <li><a href="#" title="官方论坛">BBS</a></li>
        </ul>
    </div>
    <div class="header02"></div>
    <div class="header03"></div>
    {% block content %}

    {% endblock %}
</div>
<div class="klcommon_footer_bg" style="background-color:#ebecf1;">
    <div class="klcommon_footer" style="background-color:#ebecf1;">
        <div class="footer_logo"><a href="#"><img
                src="../../static/img/logo.png"></a></div>
        <div clsass="footer_text"><a target="_blank" href="http://9key.net/About/?action=profile">公司介绍</a> | <a
                target="_blank" href="http://9key.net/jobs/">加入我们</a> | <a target="_blank" href="http://9key.net/contact/">联系我们</a>
            | 适合18岁以上用户<br>
            成都九越网络科技有限公司  蜀ICP备14024301号<br>
            健康游戏忠告：抵制不良游戏，拒绝盗版游戏；注意自我保护，谨防受骗上当；适度游戏益脑，沉迷游戏伤身；合理安排时间，享受健康生活。
        </div>
    </div>
</div>
</body>
</html>