{% extends 'master.html' %}

{% load poll_extras %}
{% load staticfiles %}

{% block title %}
    择天大陆-新闻公告
{% endblock %}
{% block content %}
  <div class="header05_news">
    <div class="new_top">
      <div class="new_bot">
      <!-------sidebar------>
        <div class="sidebar">
      <div class="side_left_add"><a target="itunes_store" href="https://itunes.apple.com/cn/app/xian-bian/id662008120?&amp;mt=8&amp;uo=4"><img width="268" height="82" src="http://static.kunlun.com/web/xb/image/app_store.png"></a></div>
      <div class="side_left_add"><a href="http://static.kunlun.com/xb/code/4/125/6/res/xianbian_kunlun_4_125_6_b_131_webp.apk"><img width="268" height="82" src="http://static.kunlun.com/web/xb/image/android_download.png"></a></div>
      <div class="code w1">
      <div id="title01">
        <div class="codeTitle">
          <ul>
            <li>IOS</li>
            <li class="click_and" onclick="javascript:showTxt('title0','2','2');">ANDROID</li>
          </ul>
        </div>
        <div class="codeCont"><img width="113" height="113" src="http://static.kunlun.com/web/xb/image/code_ios.jpg"></div>
      </div>
      <div style="display:none;" id="title02">
        <div class="codeTitle">
          <ul>
            <li class="click_ios" onclick="javascript:showTxt('title0','1','2');">IOS</li>
            <li>ANDROID</li>
          </ul>
        </div>
        <div class="codeCont"><img width="113" height="113" src="http://static.kunlun.com/web/xb/image/code_and.jpg"></div>
      </div>
      </div>
      <div class="side_left_add"><a target="_blank" href="http://weibo.com/kunlunxb"><img width="268" height="89" src="http://static.kunlun.com/web/xb/image/weibo_sina.png"></a></div>
          <div class="offcial_wx"><a href="#"><img width="266" height="133" src="http://static.kunlun.com/web/xb/image/weixin.jpg"></a></div>
          <!--------客服信息------>
          <div class="sidebar_leftBg">
            <div class="sidebar_leftTop">
              <div class="sidebar_leftBot">
                <div class="sidebar_Title"></div>
                <div class="sidebar_Box sidebar_BoxInfo">
                   <p>官方玩家Q群:85152931<br>
客服热线:010-85070333<br>
投诉邮箱:tousu@kunlun.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>

        </div>
      <!-------sidebar over------>
        <div class="content">
          <div style="height:60px;" class="news_more"></div>

            {% for new in news %}
                    <div class="news_bg">
            <div class="news_top">
              <div class="news_bot">
                <div class="news_img fltlft"><a style="" title="{{ new.newsTitle }}" href="news/{{ new.id }}"><img width="224" height="138" src="/static/{{ new.upLoadImg1 }}"></a></div>
                <div class="news_cont fltrt">
                  <h1><span>2014-04-02</span><a style="" title="{{ new.newsTitle }}" href="http://xb.kunlun.com/2014/newslist_0402/85.html">{{ new.newsTitle }}</a></h1>
                  <p><a href="http://xb.kunlun.com/2014/newslist_0402/85.html">{{ new.newsDetail | safe | Brflen:50 }}</a></p>
                  <p class="more"><a title="更多" href="http://xb.kunlun.com/2014/newslist_0402/85.html"><img width="43" height="14" src="http://static.kunlun.com/web/xb/image/more1.jpg"></a></p>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}

{##}
{#<div class="news_bg">#}
{#            <div class="news_top">#}
{#              <div class="news_bot">#}
{#                <div class="news_img fltlft"><a style="" title="“我们结婚吧”" href="http://xb.kunlun.com/2014/newslist_0115/81.html"><img width="224" height="138" src="/uploadfile/xb/uploadfile/2014/0115/20140115030605587.jpg"></a></div>#}
{#                <div class="news_cont fltrt">#}
{#                  <h1><span>2014-01-15</span><a style="" title="“我们结婚吧”" href="http://xb.kunlun.com/2014/newslist_0115/81.html">“我们结婚吧”</a></h1>#}
{#                  <p><a href="http://xb.kunlun.com/2014/newslist_0115/81.html">百万玩家中总有人在一直等待你，命运女神指引你进入《仙变》寻找那命中注定的爱情，缘分的红线早已将你紧紧缠住，而红线的另一头系着你的情愫。</a></p>#}
{#                  <p class="more"><a title="更多" href="http://xb.kunlun.com/2014/newslist_0115/81.html"><img width="43" height="14" src="http://static.kunlun.com/web/xb/image/more1.jpg"></a></p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#<div class="news_bg">#}
{#            <div class="news_top">#}
{#              <div class="news_bot">#}
{#                <div class="news_img fltlft"><a style="" title="《仙变》变身九尾狐掀起萝莉风" href="http://xb.kunlun.com/2013/newslist_1023/68.html"><img width="224" height="138" src="/uploadfile/xb/uploadfile/2013/1023/20131023074324788.jpg"></a></div>#}
{#                <div class="news_cont fltrt">#}
{#                  <h1><span>2013-10-23</span><a style="" title="《仙变》变身九尾狐掀起萝莉风" href="http://xb.kunlun.com/2013/newslist_1023/68.html">《仙变》变身九尾狐掀起萝莉风</a></h1>#}
{#                  <p><a href="http://xb.kunlun.com/2013/newslist_1023/68.html">《仙变》作为首款语聊手游，不仅在沟通上畅快无比，更在角色形象上吸引众人眼光。玩家可以在游戏中选择自己角色、职业对应的时装形象，打扮自己的角色，展现自身个性。对于角色，女性</a></p>#}
{#                  <p class="more"><a title="更多" href="http://xb.kunlun.com/2013/newslist_1023/68.html"><img width="43" height="14" src="http://static.kunlun.com/web/xb/image/more1.jpg"></a></p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#<div class="news_bg">#}
{#            <div class="news_top">#}
{#              <div class="news_bot">#}
{#                <div class="news_img fltlft"><a style="" title="游戏多小若带你领略《仙变》世界" href="http://xb.kunlun.com/2013/newslist_1021/67.html"><img width="224" height="138" src="/uploadfile/xb/uploadfile/2013/1021/20131021054251538.jpg"></a></div>#}
{#                <div class="news_cont fltrt">#}
{#                  <h1><span>2013-10-21</span><a style="" title="游戏多小若带你领略《仙变》世界" href="http://xb.kunlun.com/2013/newslist_1021/67.html">游戏多小若带你领略《仙变》世界</a></h1>#}
{#                  <p><a href="http://xb.kunlun.com/2013/newslist_1021/67.html">仙侠神剑御清风；寒光出鞘索孤魂。上天入地无所惧；诛魔灭妖谁敢从？#}
{##}
{#“游戏多”美女小若强力推荐，带你领略《仙变》与众不同的仙侠世界！</a></p>#}
{#                  <p class="more"><a title="更多" href="http://xb.kunlun.com/2013/newslist_1021/67.html"><img width="43" height="14" src="http://static.kunlun.com/web/xb/image/more1.jpg"></a></p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#<div class="news_bg">#}
{#            <div class="news_top">#}
{#              <div class="news_bot">#}
{#                <div class="news_img fltlft"><a style="" title="打倒土豪分妹纸！ 《仙变》平民逆袭攻略" href="http://xb.kunlun.com/2013/newslist_1017/62.html"><img width="224" height="138" src="/uploadfile/xb/uploadfile/2013/1017/20131017102305310.png"></a></div>#}
{#                <div class="news_cont fltrt">#}
{#                  <h1><span>2013-10-17</span><a style="" title="打倒土豪分妹纸！ 《仙变》平民逆袭攻略" href="http://xb.kunlun.com/2013/newslist_1017/62.html">打倒土豪分妹纸！ 《仙变》平民...</a></h1>#}
{#                  <p><a href="http://xb.kunlun.com/2013/newslist_1017/62.html">《仙变》中绑定元宝是我们反击“土豪”的重要武器，绑定元宝是系统在您达到某个成就、完成某个任务或某项活动后的奖励，绑定元宝可以在商城购买诸多物品，坐骑、神兽、装备强化道具应</a></p>#}
{#                  <p class="more"><a title="更多" href="http://xb.kunlun.com/2013/newslist_1017/62.html"><img width="43" height="14" src="http://static.kunlun.com/web/xb/image/more1.jpg"></a></p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{#       <br class="clear">#}
{#       <!--------page------>#}
{#       <div class="page"><a class="a1">19条</a> <a class="a1" href="/newslist/index.html">上一页</a> <span>1</span> <a href="/newslist/2.html">2</a> <a href="/newslist/3.html">3</a> <a href="/newslist/4.html">4</a> <a class="a1" href="/newslist/2.html">下一页</a></div>#}
{#       <!--------page over------>#}
{#      </div>#}
    </div>
  </div>
    </div>
    </div>
{% endblock %}
