{% extends 'master.html' %}

{% load poll_extras %}
{% load staticfiles %}

{% block title %}
    择天大陆-新闻公告
{% endblock %}
{% block content %}
    <div class="header05_news">
        <div class="new_top">
            <div class="new_bot">
                <!-------sidebar------>
                <div class="sidebar">
                    <div class="side_left_add"><a title=""
                                                  href="https://itunes.apple.com/cn/app/xian-bian/id662008120?&mt=8&uo=4"
                                                  target="itunes_store"><img
                            src="http://static.kunlun.com/web/xb/image/app_store.png" width="268" height="82"/></a>
                    </div>
                    <div class="side_left_add"><a title=""
                                                  href="http://static.kunlun.com/xb/code/4/125/6/res/xianbian_kunlun_4_125_6_b_131_webp.apk"><img
                            src="http://static.kunlun.com/web/xb/image/android_download.png" width="268"
                            height="82"/></a></div>
                    <div class="code w1">
                        <div id="title01">
                            <div class="codeTitle">
                                <ul>
                                    <li>IOS</li>
                                    <li onclick="javascript:showTxt('title0','2','2');" class="click_and">ANDROID</li>
                                </ul>
                            </div>
                            <div class="codeCont"><img src="http://static.kunlun.com/web/xb/image/code_ios.jpg"
                                                       width="113" height="113"/></div>
                        </div>
                        <div id="title02" style="display:none;">
                            <div class="codeTitle">
                                <ul>
                                    <li onclick="javascript:showTxt('title0','1','2');" class="click_ios">IOS</li>
                                    <li>ANDROID</li>
                                </ul>
                            </div>
                            <div class="codeCont"><img src="http://static.kunlun.com/web/xb/image/code_and.jpg"
                                                       width="113" height="113"/></div>
                        </div>
                    </div>
                    <div class="side_left_add"><a href="http://weibo.com/kunlunxb" target="_blank"><img
                            src="http://static.kunlun.com/web/xb/image/weibo_sina.png" width="268" height="89"/></a>
                    </div>
                    <div class="offcial_wx"><a href="#"><img src="http://static.kunlun.com/web/xb/image/weixin.jpg"
                                                             width="266" height="133"/></a></div>
                    <!--------客服信息------>
                    <div class="sidebar_leftBg">
                        <div class="sidebar_leftTop">
                            <div class="sidebar_leftBot">
                                <div class="sidebar_Title"></div>
                                <div class="sidebar_Box sidebar_BoxInfo">
                                    <p>官方玩家Q群:85152931<br/>
                                        客服热线:010-85070333<br/>
                                        投诉邮箱:tousu@kunlun.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
                <!-------sidebar over------>
                <div class="content">
                    <div class="news_more" style="height:60px;"></div>

                    <div class="news_bg">
                        <div class="news_top">
                            <div class="news_bot">

                                <div class="article">

                                    {{ n.newsDetail | safe }}
                                </div>
                                <br class="clear">

                            </div>
                        </div>
                    </div>


                </div>
                <br class="clear">
            </div>
        </div>
    </div>
{% endblock %}
