{% extends 'master.html' %}

{% load poll_extras %}
{% load staticfiles %}

{% block title %}
    择天大陆-新闻公告
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(function () {
            $("#ios-a").click(function () {
                $("#ios").css("display", "none");
                $("#erweima2").css("display", "none");
                $("#android").css("display", "");
                $("#erweima1").css("display", "");
            });
            $("#android-a").click(function () {
                $("#ios").css("display", "");
                $("#erweima2").css("display", "");
                $("#android").css("display", "none");
                $("#erweima1").css("display", "none")
            });
        });
    </script>
    <div class="header05_news">
        <div class="new_top">
            <div class="new_bot">
                <!-------sidebar------>
                <div class="sidebar">
                    <div class="code w1">

                        <div class="" style="float:left;" id="erweima1">
                            <img src="/static/img/erweima.png">
                        </div>
                        <div class="" style="float:left;margin-left: 0px;" id="android">
                            <a href="javascript:void(0);" id="android-a">
                                <img src="/static/img/btn-ios.png">
                            </a>
                        </div>

                        <div class="" style="float:left;display:none;" id="erweima2">
                            <img src="/static/img/erweima.png">
                        </div>
                        <div class="" style="float:left;margin-left: 0px;display:none;" id="ios">
                            <a href="javascript:void(0);" id="ios-a">
                                <img src="/static/img/btn-android.png">
                            </a>
                        </div>

                    </div>
                    <div class="side_left_add"><a target="itunes_store"
                                                  href="#"
                                                  title=""><img width="268" height="82"
                                                                src="/static/img/androiddownloads.png"></a>
                    </div>
                    <div class="side_left_add"><a
                            href="http://static.kunlun.com/xb/code/4/125/6/res/xianbian_kunlun_4_125_6_b_131_webp.apk"
                            title=""><img width="268" height="82"
                                          src="/static/img/iosdownloads.png"></a></div>
                    <div class="sidebar_leftBg" style="margin-bottom: 11px;">
                        <div class="sidebar_leftTop">
                            <div class="sidebar_leftBot">
                                <div class="sidebar_Title">
                                    <img width="103" height="20" style="margin-top: 7px;"
                                         src="/static/img/serverList.png">
                                </div>
                                <img src="/static/img/bar_side_top.png">
                                <div class="sidebar_Box sidebar_BoxServer">
                                    <p>
                                        <span>2014-01-24</span>
                                        S38 忠肝义胆
                                    </p>
                                    <p>
                                        <span>2014-01-24</span>
                                        S38 忠肝义胆
                                    </p>
                                    <p>
                                        <span>2014-01-24</span>
                                        S38 忠肝义胆
                                    </p>
                                    <p>
                                        <span>2014-01-24</span>
                                        S38 忠肝义胆
                                    </p>
                                    <p>
                                        <span>2014-01-24</span>
                                        S38 忠肝义胆
                                    </p>
                                    <p>
                                        <span>2014-01-24</span>
                                        S38 忠肝义胆
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar_leftBg" style="margin-bottom: 11px;">
                        <div class="sidebar_leftTop">
                            <div class="sidebar_leftBot">
                                <div class="sidebar_Title">
                                    <img width="103" height="20" style="margin-top: 7px;"
                                         src="/static/img/hotline.png">
                                </div>
                                <img src="/static/img/bar_side_top.png">
                                <div class="sidebar_Box sidebar_BoxInfo" style="color: #fcd6ff;font-size: 10px;font-family: Microsoft YaHei;">
                                    <p>
                                        官方玩家Q群：438817071
                                        <br>
                                        客服邮箱：ztdlkf@9key.net
                                        <br>
                                        微信订阅号：（这个申请下来之后再添加上）
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="sidebar_leftBg" style="margin-bottom: 11px;">
                        <div class="sidebar_leftTop">
                            <div class="sidebar_leftBot">
                                <div class="sidebar_Title">
                                    <img width="103" height="20" style="margin-top: 7px;"
                                         src="/static/img/cooperator.png">
                                </div>
                                <img src="/static/img/bar_side_top.png">
                                <div class="sidebar_Box sidebar_BoxLinks">
                                    <ul>

                                    </ul>
                                    <br class="clear">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------sidebar over------>
                <div class="content">
                    <div class="news_more" style="height:60px;"></div>

                    <div class="news_bg">
                        <div class="news_top">
                            <div class="news_bot">

                                <div class="article">

                                    {{ n.newsDetail | safe }}
                                </div>
                                <br class="clear">

                            </div>
                        </div>
                    </div>


                </div>
                <br class="clear">
            </div>
        </div>
    </div>
{% endblock %}
