{% extends 'master.html' %}
{% load poll_extras %}
{% block title %}
    [高清][HD-BD-DVD][{{ tvseries.tvseries_pub_year }}][{{ tvseries.tvseries_name }}][迅雷下载][百度网盘][中 英 字幕]
    {% endblock %}
{% block keywords %}
    [高清][HD-BD-DVD][{{ tvseries.tvseries_pub_year }}][{{ tvseries.tvseries_name }}][迅雷下载][百度网盘][中 英 字幕]
    {% endblock %}
{% block description %}
{{ tvseries.tvseries_name }}
    {{ tvseries.tvseries_intro }}
{% endblock %}
{% block head %}
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
     <div class="banner">
        <div style="height:60px;"></div>
        <div class= "wrapper clearfix">
            <div class="celeInfo-left">
                <div class = "avater-shadow" >
                    <img  class="avater" alt="{{ tvseries.tvseries_pub_year }}-{{ tvseries.tvseries_name }}-BDHD百度网盘迅雷下载高清电影" src="{{ tvseries.cover_img_link }}">
                </div>
            </div>
            <div class="celeInfo-right clearfix">
                <div class ="movie-brief-container">
                    <h3 class="name">
                        {{ tvseries.tvseries_name }}
                    </h3>
                    {% if tvseries.tvseries_pub_year %}
                        <div class ="ename ellipsis">年代:{{ tvseries.tvseries_pub_year }}</div>
                    {% endif %}
                    <ul >
                    {% if tvseries.tvseries_country %}
                            国家:{{ tvseries.tvseries_country }} 

                        {% endif  %}
                        {% if tags %}
                        <li class="ellipsis">
                        标签:
                            {% for tag in tags %}
                                <a href="/result/{{ tag }}" style="margin-right: 10px;">{{ tag }}</a>
                            {% endfor %}
                        </li>
                        {% endif %}
                        {% if tvseries.tvseries_director %}
                            导演:
                            <li class="ellipsis">{{ tvseries.tvseries_director }}</li>
                        {% endif  %}
                        {% if tvseries.tvseries_actors %}
                            演员表:
                            <li class="ellipsis">{{ tvseries.tvseries_actors }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class ="wrapper-bg">

            </div>
       </div>
     </div>

    <div class ="container" style="margin-top: 80px;">
        <div class="module">
        <div class="mod-title">
                <h3>觉得资源好,就分享支持一个吧~</h3>
            </div>
        <div style ="text-indent: 2em; margin-top:10px; margin-bottom:10px;">
        <wb:share-button appkey="3150087652" addition="full" type="button" default_text="骚猪电影网,http://dyhell.com-[高清][HD-BD-DVD][{{ tvseries.tvseries_pub_year }}][{{ tvseries.tvseries_name }}][迅雷下载][百度网盘][中 英 字幕]，天天更新。"></wb:share-button>
        </div>
            <div class="mod-title">
                <h3>剧情介绍</h3>
            </div>
            <div style ="text-indent: 2em; margin-top:10px; margin-bottom:10px;">
                 {{ tvseries.tvseries_intro | safe }}
            </div>
            <div class = "mod-title">
                <h3>下载链接</h3>
            </div>
            <div style ="text-indent: 2em; margin-top:10px; margin-bottom:10px;color:#ef4238;word-break: break-all;word-wrap: break-word;">
            <div class="list-group">

               {% for i in tvseries.download_link  %}
{#                       {% if 'http://pan.' in j %}#}
{#                        <a href='{{ j }}' target="_blank" class="list-group-item">百度网盘全集{{ j }}</a>{{ k }}#}
{#                           {% else %}#}
{#                           <a href='{{ j }}' target="_blank" class="list-group-item">{{ k }}</a>#}
{#                       {% endif %}#}
{{ i|ispwdtv|safe }}

               {% endfor %}
            </div>


            </div>

        </div>
    </div>

{% endblock %}