
.klcommon_footer_bg {
    margin: 0;
    padding: 0;
}
.klcommon_footer {
    color: #7e7e7e;
    font-size: 12px;
    height: 88px;
    margin: 0 auto;
    padding: 10px;
    width: 1190px;
    background: #ebecf1;
}
.klcommon_footer .footer_logo {
    float: left;
    padding: 10px 0;
    text-align: right;
    width: 330px;
}
.klcommon_footer .footer_logo a {
    display: inline-block;
    margin-left: 15px;
}
.klcommon_footer .footer_logo img {
    border: 0 none;
}
.klcommon_footer .footer_text {
    float: right;
    line-height: 21px;
    width: 830px;
}
.klcommon_footer a {
    color: #7e7e7e;
    text-decoration: none;
}
.klcommon_footer a:hover {
    color: #f00;
}
.klcommon_provider {
    background-color: #ebecf1;
    border: 1px solid #e3e3e3;
    color: #fff;
    font-size: 12px;
    height: 21px;
    left: 10px;
    line-height: 21px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 255px;
    z-index: 99999;
}